import type { Metadata } from 'next';

export const metadata: Metadata = {
  title: '[[HALF:PROJECT_NAME_PASCAL]]',
};

export default function RootLayout({ children }: { children: React.ReactNode }) {
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  );
}
